<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "https://bibilioteca-frontend.netlify.app"
    
    Header always set Access-Control-Allow-Methods "GET, POST, PATCH, DELETE, OPTIONS"
    
    Header always set Access-Control-Allow-Headers "Content-Type"
 
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
